<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>915268058753-t2lo6310h2tq51fv42q7lt7ejguebtag.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.915268058753-t2lo6310h2tq51fv42q7lt7ejguebtag</string>
	<key>API_KEY</key>
	<string>AIzaSyBxElvKVwJ2DRvl-2ei5FPsKADU_00Q31g</string>
	<key>GCM_SENDER_ID</key>
	<string>915268058753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-53d1c</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-53d1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:915268058753:ios:6cf470440da0f300ea1780</string>
</dict>
</plist>